/* src/assets/Login.css */
.parent {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.parent-top-login {
  font-size: 3rem;
  font-weight: 1000;
  text-align: center;
  color: white;
  margin-top: 3rem;
  user-select: none;
}

.child {
  width: 90%;
  max-width: 400px;
  background-color: aliceblue;
  text-align: center;
  color: black;
  border: 2px solid antiquewhite;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  padding: 1rem;
}

.child:hover {
  color: black;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 0 29px antiquewhite;
  background-color: whitesmoke;
}

@media (min-width: 768px) {
  .child {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .child {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .child {
    width: 30%;
  }
}
